@define-color bg    #1c1c1c;
@define-color fg    #dcdcdc;
@define-color blk   #32344a;
@define-color red   #f7768e;
@define-color grn   #9ece6a;
@define-color ylw   #e0af68;
@define-color blu   #7aa2f7;
@define-color mag   #ad8ee6;
@define-color cyn   #0db9d7;
@define-color brblk #444444;
@define-color wht   #ffffff;

* {
    border: none;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    font-weight: 400;
}

window#waybar {
    background-color: @bg;
    color: @fg;
}


#workspaces button {
    padding: 0 4px;
    color: @fg;
    background: transparent;
}

#workspaces button.active {
    color: @blk;
    background-color: @fg;
    border-radius: 0px;
}

#workspaces button.empty {
    color: @brblk;
}

#workspaces button.empty.active {
    color: @blk;
    background-color: @fg;
}

#workspaces button.urgent {
    background-color: @red;
}

#window {
    padding: 0 16px;
    color: @fg;
}

#mpris
{
    padding: 0 8px;
    color: @fg;
}

#tray,
#battery,
#network,
#cpu,
#temperature,
#memory,
#disk,
#custom-clock
{
    padding: 0 8px;
    color: @fg;
}

#network.disconnected {
    color: @bg;
    background-color: @red;
}

#tray {
    background-color: @cyn;
}

tooltip {
    color: @fg;
    background-color: @bg;
    border: 1px solid @brblk;
}