@define-color bg     #1c1c1c;
@define-color bg2    #444444; 
@define-color txt    #dcdcdc; 
@define-color accent #dcdcdc;

* {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
 }

 /* Window */
 window {
    margin: 0px;
    padding: 4px;
    border-radius: 10px;
    background-color: @bg;
 }

 /* Inner Box */
 #inner-box {
    margin: 4px;
    padding: 4px;
    border: none;
    border-radius: 5px;
    background-color: @bg;
 }

 /* Outer Box */
 #outer-box {
    margin: 4px;
    padding: 4px;
    border: none;
    background-color: @bg;
    border-radius: 5px;
 }

 /* Scroll */
 #scroll {
    margin: 0px;
    padding: 4px;
    border: none;
 }

 /* Input */
 #input {
    margin: 4px;
    padding: 4px;
    border: none;
    color: @txt;
    background-color: @bg;
    border: 2px solid @accent;
 }

 /* Text */
 #text {
    margin: 4px;
    padding: 4px;
    border: none;
    color: @txt;
 }

 /* Selected Entry */
 #entry:selected {
   background-color: @bg;
   outline: 2px solid @accent;
 }

 #entry:selected #text {
    color: @txt;
 }
 image {
   margin-left: 4px;
 }